version: "{{ docker_api_version }}"
services:
  kafka-kowl:
    image: "{{ kafka_gui_base_image }}:{{ kafka_gui_image_version }}"
    container_name: "kafka-gui-{{ ansible_hostname }}-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}"
    network_mode: host
    environment:
      KAFKA_BROKERS: "kafka-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}"
      KAFKA_TLS_ENABLED: 'true'
      KAFKA_TLS_INSECURESKIPTLSVERIFY: 'true'
      KAFKA_SASL_ENABLED: 'true'
      KAFKA_SASL_USERNAME: "{{ kafka_client_users }}"
      KAFKA_SASL_PASSWORD: "{{ kafka_client_passwords }}"
    logging:
      driver: json-file
      options:
        max-size: "{{ kafka_gui_max_log_size }}"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: "{{ kafka_gui_memory_limit }}"
    cpus: "{{ kafka_gui_cpu_limit }}"

















