version: "{{ docker_api_version }}"
services:
  kafka-kowl:
    image: "{{ KAFKA_GUI_BASE_IMAGE }}:{{ KAFKA_GUI_IMAGE_VERSION }}"
    container_name: "kafka-gui-{{ ansible_hostname }}-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}"
    network_mode: host
    environment:
      KAFKA_BROKERS: "kafka-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}"
      KAFKA_TLS_ENABLED: 'true'
      KAFKA_TLS_INSECURESKIPTLSVERIFY: 'true'
      KAFKA_SASL_ENABLED: 'true'
      KAFKA_SASL_USERNAME: "{{ KAFKA_CLIENT_USERS }}"
      KAFKA_SASL_PASSWORD: "{{ KAFKA_CLIENT_PASSWORDS }}"
    logging:
      driver: json-file
      options:
        max-size: "1g"

















