version: '3.8'
services:
  kafka-exporter:
    image: "{{ KAFKA_EXPORTER_BASE_IMAGE }}:{{ KAFKA_EXPORTER_VERSION }}"
    container_name: "kafka-exporter-{{ ansible_hostname }}-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}"
    network_mode: host
    command: "--kafka.server=kafka-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}:9094 --sasl.enabled --sasl.username={{ KAFKA_CLIENT_USERS }} --sasl.password={{ KAFKA_CLIENT_PASSWORDS }} --sasl.mechanism=plain --tls.insecure-skip-tls-verify --tls.enabled"
    logging:
      driver: json-file
      options:
        max-size: "1g"















