version: '3.8'
services:
  kafka_2:
    image: "{{ kafka_base_image }}:{{ kafka_image_version }}"
    container_name: kafka-2-{{ ansible_hostname }}-{{ ansible_play_hosts_all.index(inventory_hostname) }}
    hostname: kafka-2
    network_mode: host
    # ports:
    #   - "9092:9092"
    #   - "9093:9093"
    #   - "9094:9094"
    environment:
      ALLOW_PLAINTEXT_LISTENER: "yes"
      BITNAMI_DEBUG: "yes"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_BROKER_ID: 2
      KAFKA_CFG_NODE_ID: 2
      KAFKA_ENABLE_KRAFT: "yes"
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: 'INTERNAL'
      KAFKA_CFG_PROCESS_ROLES: 'broker,controller'
      KAFKA_KRAFT_CLUSTER_ID: "{{ kafka_cluster_id }}"
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT'
      KAFKA_CFG_LISTENERS: 'INTERNAL://kafka-2:9092,CONTROLLER://kafka-2:9093,EXTERNAL://kafka-2:9094'
      KAFKA_CFG_ADVERTISED_LISTENER: 'INTERNAL://kafka-2:9092,EXTERNAL://kafka-2:9094'
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: '1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093'
      KAFKA_CFG_ALLOW_EVERYONE_IF_NO_ACL_FOUND: "false"
      KAFKA_CFG_CONNECTIONS_MAX_IDLE_MS: 15000
      KAFKA_CFG_DEFAULT_REPLICATION_FACTOR: 3
      KAFKA_CFG_DELETE_TOPIC_ENABLE: "true"
      KAFKA_CFG_GROUP_MAX_SESSION_TIMEOUT_MS: 55000
      KAFKA_CFG_GROUP_MIN_SESSION_TIMEOUT_MS: 10
      KAFKA_CFG_LEADER_IMBALANCE_PER_BROKER_PERCENTAGE: 15
      KAFKA_CFG_LOG_CLEANER_DELETE_RETENTION_MS: 86400000
      KAFKA_CFG_LOG_CLEANER_MIN_CLEANABLE_RATIO: 0.5
      KAFKA_CFG_LOG_CLEANUP_POLICY: delete
      KAFKA_CFG_LOG_MESSAGE_TIMESTAMP_TYPE: CreateTime
      KAFKA_CFG_MAX_INCREMENTAL_FETCH_SESSION_CACHE_SLOTS: 2000
      KAFKA_CFG_MESSAGE_MAX_BYTES: 2097180
      KAFKA_CFG_MIN_INSYNC_REPLICAS: 2
      KAFKA_CFG_REPLICA_FETCH_MAX_BYTES: 2097152
      KAFKA_CFG_REPLICA_FETCH_RESPONSE_MAX_BYTES: 2097152
      KAFKA_CFG_REPLICA_LAG_TIME_MAX_MS: 45000
      KAFKA_CFG_TRANSACTION_MAX_TIMEOUT_MS: 900000
      KAFKA_CFG_UNCLEAN_LEADER_ELECTION_ENABLE: "false"
      KAFKA_CFG_NUM_NETWORK_THREADS: 8
      KAFKA_CFG_NUM_IO_THREADS: 12
      KAFKA_CFG_NUM_RECOVERY_THREADS_PER_DATA_DIR: 2
      KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
      KAFKA_CFG_LOG_FLUSH_INTERVAL_MESSAGES: 15000
      KAFKA_CFG_LOG_RETENTION_BYTES: -1




