version: '3.8'
services:
  kafka-kowl:
    image: "{{ KAFKA_KOWL_BASE_IMAGE }}:{{ KAFKA_KOWL_image_version }}"
    container_name: "kafka-kowl-{{ ansible_hostname }}-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}"
    network_mode: host
    environment:
      KAFKA_BROKERS: "kafka-{{ ansible_play_hosts_all.index(inventory_hostname) + 1 }}"


















